@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-image: url("../Images/background.jpg");
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html {
  font-family: var(--font-kanit);
}

p{
  font-size: 12px;
}

h1{
  font-size: 18px; 
  color: white;
  font-weight: 500;
}

/* สีม่วงอมเทา [#666699]  */
/* สีเทา [#BEBEBE] */
/* white */

/* ข้อความทั่วไปใช้ ขนาด 12 */



